.cover__subtitle {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
}
