.place__paragraphs {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraphs {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraphs {
    font-size: 16px;
    line-height: 26px;
    padding: 0 16px;
  }
}
