.cover {
  margin: 0 auto;
  padding-top: 92px;
  max-width: 1184px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    padding-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding-top: 66px;
  }
}
