.lead__figure {
  margin: 0;
  margin-top: 64px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .lead__figure {
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__figure {
    margin-top: 40px;
  }
}
